@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3f72af;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
html,body{
    width: 100vh;
    height: 100vh;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    color: var(--colorLight2);
    overflow-x: hidden;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.tab-container{
    width: 90%;
    max-width: 550px;
    margin-top: 2rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}
.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
}
.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    margin-top: 0.35rem;
    margin-bottom: 1.75rem;
}
.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;
}
.loading-container p{
    text-transform: uppercase;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
    margin-top: -30px;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-info-container p{
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
}
.name p{
    font-size: 2rem;
}
.name img{
    max-width: 30px;
    max-height: 30px;
}
.user-info-container p[data-temp]{
    font-size: 2.5rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    gap: 10px 80px;
    justify-content: center;
    align-items: center;
    
}
.parameter{
    margin-top: 2rem;
    width: 30%;
    min-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;

}

.form-container.active{
    display: flex;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
.form-container input::placeholder{
    color: rgba(255, 235, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 235, 255, 0.7);
}

.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 3px solid transparent;
    transition: outline  0.4s ease-out;
}

.form-container .btn:hover{
    outline: 3px solid rgba(255, 235, 255, 0.7);
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent, var(--colorLight1));
    border-radius: 6px;

}